<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">


<link rel="stylesheet" href="/styles/maincontent.css">

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">
    <hr>
            <nav class="navbar navbar-expand-sm bg-light navbar-light  " id="nav">
              <div class="container-fluid" id="headernav">
               <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#section1">Pre-Wedding</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#section2">Wedding-shot</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#section3">Banners</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#section4">Dj-party</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#section5">Album-book</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#section6">posters</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#section7">Greeting-cards</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#section8">Hall-Decoration</a>
                  </li>
                  
                </ul>
              </div>
            </nav>
            <hr>
            
            <div  id="section1" class="container-fluid bg-light text-black" id="sections" style="padding:20px 20px;">
             <center><h1>PRE-WEDDING-SHOTS</h1>
            <p>Falling in love all over again, one pre-wedding moment at a time." "Making memories before we make it official." "Preparing for the adventure of a lifetime." "Two hearts, one dream, and a lifetime of love to share.</p>
            </center> 
             <div class="images">

              <img class="card-img-top" src="https://img.freepik.com/free-photo/beautiful-couple-spending-time-together_23-2149155544.jpg?t=st=1717785967~exp=1717789567~hmac=41988e1a0f98416f83fe3b406be74fb588e89c31203ec91da5ecdfe68f6e6a06&w=900" alt="Card image">
              <img class="card-img-top" src="https://img.freepik.com/free-photo/beautiful-woman-long-red-dress-walks-around-city-with-her-husband_1157-13373.jpg?t=st=1717786805~exp=1717790405~hmac=8a8a7e6960f80862aafcc07845d6b59599e4636b6c2868f9a835bc8aca799258&w=1380" alt="">
              <img class="card-img-top" src="https://img.freepik.com/free-photo/man-woman-having-beach-wedding_23-2149003470.jpg?t=st=1717786835~exp=1717790435~hmac=088fafde85c67f3c786fc3614117512bf3a635a2c193f5c8878826c64edefc79&w=1380" alt="">
              <img class="card-img-top" src="https://img.freepik.com/free-photo/beautiful-woman-long-red-dress-walks-around-city-with-her-husband_1157-13381.jpg?t=st=1717786855~exp=1717790455~hmac=9955f6bfda8ccb11503875e595bde35f356340b9badd2358993d6f9e31335889&w=1060" alt="">
              <img class="card-img-top" src="https://img.freepik.com/free-photo/man-love-kissing-forehead-his-happy-girlfriend_1153-874.jpg?t=st=1717786876~exp=1717790476~hmac=824b4df6d5b1f68e80e06d5287c77c474438bbc268cdd192262d5732c6f6e7fa&w=1060" alt="">
              <img class="card-img-top" src="https://img.freepik.com/free-photo/couple-valentines-day-outside_23-2148383221.jpg?t=st=1717786889~exp=1717790489~hmac=db144f547eb0ac5b5ef06a2a03265a41cded4575e4105d4044005b28cba45224&w=1060" alt="">
              <img class="card-img-top" src="https://img.freepik.com/free-photo/couple-rain_1157-8228.jpg?t=st=1717786933~exp=1717790533~hmac=612f79b6840ab602843e3a8c20e81609249bc430ab04856b82c85ab9030d95be&w=1060" alt="">
              <img class="card-img-top" src="https://img.freepik.com/free-photo/couple-having-public-intimacy-moments_23-2149428402.jpg?t=st=1717786948~exp=1717790548~hmac=e4ca9dd013453fa509c60a5a94fc7af32e2a3f6661b44aec09d86f7e96b4210c&w=1060" alt="">
             
              <img class="card-img-top" src="https://img.freepik.com/free-photo/guy-kissing-his-girlfriend-s-forehead_1153-573.jpg?t=st=1717786987~exp=1717790587~hmac=5bde416ed2ef975c31cd7ed235b2f6e79bfc9628f369264ab57274e82e9120e6&w=1060" alt="">

              <img class="card-img-top" src="https://img.freepik.com/free-photo/couple-honeymoon-venice_1303-10412.jpg?t=st=1717787002~exp=1717790602~hmac=ca46af2b136a70c7eec28d2f2bde771c106a5835e6b85aa62c0a5ed1e1a682ca&w=1060" alt="">
              <img class="card-img-top" src="https://img.freepik.com/free-photo/young-couple-having-fun_1328-1718.jpg?t=st=1717787030~exp=1717790630~hmac=503be72714d6d27a7011b5b7f01d0bfdcc0285c11f615982af4a009c12e86948&w=1060" alt="">
              <img class="card-img-top" src="https://img.freepik.com/free-photo/man-woman-having-beach-wedding_23-2149003470.jpg?t=st=1717786835~exp=1717790435~hmac=088fafde85c67f3c786fc3614117512bf3a635a2c193f5c8878826c64edefc79&w=1060" alt="">


             </div>

             <hr >
             <h1 onclick="topbar()" class="top"><i class="bi bi-arrow-up-square-fill"></i></h1>

            <div  id="section2" class="container-fluid bg-light text-black" id="sections" style="padding:20px 20px;">
                <center><h1>WEDDING-SHOTS</h1>
                  <p>How do you make good album art? To create album art that turns heads, use font, colors and imagery that reflect your music and brand identity. Choose a font that is readable and doesn't vanish into a busy background. Aim for minimalism but keep it unique.</p>              
                </center>
                <div class="images">
                <img class="card-img-top" src="https://img.freepik.com/free-photo/bride-with-head-attached-groom-s-face_1157-560.jpg?t=st=1717787675~exp=1717791275~hmac=acccec0a51dbc6e8940d4681b12c003c08fb771dc812fcece2f28c58634cbed2&w=996" alt="">
                <img class="card-img-top" src="https://img.freepik.com/free-photo/newlywed-couple-looking-into-each-other-s-eyes_1153-1172.jpg?t=st=1717787744~exp=1717791344~hmac=749198e61b57e9ff89002e4cbac92b5acea3e4e1cf27f9690201e770514af732&w=996" alt="">
                <img class="card-img-top" src="https://img.freepik.com/free-photo/front-view-smiley-couple-wedding_23-2149956435.jpg?t=st=1717787768~exp=1717791368~hmac=8f96c09fd4ad528f36eaa035f4bf66cc5e07d13946f99828d6d39fb79d72f8d2&w=996" alt="">
                <img class="card-img-top" src="https://img.freepik.com/free-photo/beautiful-woman-long-red-dress-walks-around-city-with-her-husband_1157-13377.jpg?t=st=1717779777~exp=1717783377~hmac=ac047efcb62e9c5f0ae66f2b0c9169708950e21bf176fba87145f6a104cc1b00&w=996" alt="">
                <img class="card-img-top" src="https://img.freepik.com/free-photo/beautiful-student-couple-ready-from-prom_23-2149134334.jpg?t=st=1717787807~exp=1717791407~hmac=9d3e11c3391518352d5bc1315499c0833758893677ac38ed233fd5b2deb62d4e&w=996" alt="">
                <img class="card-img-top" src="https://img.freepik.com/free-photo/side-view-romantic-couple-kissing_23-2149956417.jpg?t=st=1717787824~exp=1717791424~hmac=8d8bf80661c2c6967e63de38da31a55281aca38dc8ee4f32622722a5d60af4ff&w=996" alt="">
                <img class="card-img-top" src="https://img.freepik.com/free-photo/caucasian-romantic-young-couple-celebrating-their-marriage-city_155003-28679.jpg?t=st=1717787850~exp=1717791450~hmac=756a05a7ee9a9e3866a04b3ed0488fbded5898b135f475c98a7830af90709700&w=996" alt="">
                <img class="card-img-top" src="https://img.freepik.com/free-photo/beautiful-woman-long-red-dress-walks-around-city-with-her-husband_1157-13364.jpg?t=st=1717787870~exp=1717791470~hmac=ad63c37343731fb8dee34625b6e7f77871ecf47ec797a5c634aa0c8804456d29&w=996" alt="">
                <img class="card-img-top" src="https://img.freepik.com/free-photo/top-view-newlyweds-ladder_1153-293.jpg?t=st=1717787893~exp=1717791493~hmac=e32e42e948a567e791c4b6de055eb30c5bd92e36c2aaada89e38598457cc1f89&w=996" alt="">

                </div>
              </div>
              <hr>           

    
              <div  id="section3" class="container-fluid bg-light text-black" id="sections" style="padding:20px 20px;">
                <center><h1>BANNERS</h1>
                  <p>A happy marriage is the union of two good forgivers.” “The best time to love with your whole heart is always now, in this moment, because no breath beyond the current is promised.” “To find someone who will love you for no reason, and to shower that person with reasons, that is the ultimate happiness.”</p>      

                </center>   
                <div class="card" >
                  <img class="card-img-top" src="https://img.freepik.com/free-vector/watercolor-hand-drawn-wedding-twitch-banner_23-2149078551.jpg?t=st=1717788378~exp=1717791978~hmac=8afacb8fca5e02b6451778a9534f62959f18c6d8b35bb8c1441130f72602b693&w=996" alt="">
  
                  <div class="card-img-overlay">
                    <h4 class="card-title">1200 X 800</h4>
                    
                  </div>
                </div>
                <br><br>
                <div class="card" >
                  <img class="card-img-top" src="https://img.freepik.com/free-vector/watercolor-boho-wedding-youtube-thumbnail_23-2149028449.jpg?t=st=1717788447~exp=1717792047~hmac=97e7165de07dd9045737c3cdcf8c24ea097d50e20410e81f534ceede092ac84e&w=996" alt=""><br>
  
                  <div class="card-img-overlay">
                    <h4 class="card-title">2400 X 1800</h4>
                    
                  </div>
                </div> <br><br>
                <div class="card" >
                  <img class="card-img-top" src="https://img.freepik.com/free-psd/horizontal-banner-template-floral-wedding_23-2148918997.jpg?t=st=1717788433~exp=1717792033~hmac=31c8e7a91d705a995e84568ea3f22bce8decf8229c76e9c91fb9198067364940&w=996" alt=""><br><br>
  
                  <div class="card-img-overlay">
                    <h4 class="card-title">3000X 2200</h4>
                    
                  </div>
                </div>
                
              </div>
              <hr>
    
              <div  id="section4" class="container-fluid bg-light text-black" id="sections" style="padding:20px 20px;">
                <center><h1>DJ-PARTY</h1>
                  <p>I love music - in my playing days, I was always the team DJ. ...
                    For me, it's a great thing to tell people anything is possible. ...
                    As an individual I was known as the DJ or the mixer. ...
                    When you DJ, you're just on your own, which is nice because there's no argument.</p>
                </center>  <div class="images">
                <img class="card-img-top" src="https://media.istockphoto.com/id/1324006497/photo/music-controller-dj-mixer-in-a-nightclub-at-a-party.webp?s=1024x1024&w=is&k=20&c=DPGBc_eABctkqmxilQJNUqP6BgkIo2fFVwTt8Ul1QN4=" alt="">
                <img class="card-img-top" src="https://img.freepik.com/free-photo/entertaining-female-dj-with-hand-raised_23-2148325425.jpg?t=st=1717860995~exp=1717864595~hmac=41f814167b8c2d3eb94feeb74850ac9aa0436b25455ca33537ebe1637638e0da&w=740" alt="">
                <img class="card-img-top" src="https://img.freepik.com/free-photo/techno-party-lifestyle_52683-122050.jpg?t=st=1717861016~exp=1717864616~hmac=cb45bb84d8cc4f1451098242bacdd10d8389319c9a68c0a486dfad65d5af7f5f&w=740" alt="">
                <img class="card-img-top" src="https://img.freepik.com/free-photo/vibrant-scene-with-dj-techno-party_23-2150551538.jpg?t=st=1717861029~exp=1717864629~hmac=1ffdb43e1c040e042bd312e42c1cb8a2247d6b52079df978b562ebbd72d2d49b&w=740" alt="">
                <img class="card-img-top" src="https://img.freepik.com/free-photo/view-futuristic-concert_23-2151073008.jpg?t=st=1717954080~exp=1717957680~hmac=5626cade9ee599b7e76da02a7c9482491c2f71fb7a7f18a13bb7c613154f7637&w=1380" alt="">
                </div>

              </div><hr>
    
              <div  id="section5" class="container-fluid bg-light text-black" id="sections" style="padding:20px 20px;">
                <center><h1>ALBUM-BOOKS</h1>
                  <p>How do you make good album art? To create album art that turns heads, use font, colors and imagery that reflect your music and brand identity. Choose a font that is readable and doesn't vanish into a busy background. Aim for minimalism but keep it unique.</p>              

                </center> <div class="images">
                <img class="card-img-top" src="https://img.freepik.com/free-photo/view-beautifully-decorated-scrapbook_23-2149614037.jpg?t=st=1717861302~exp=1717864902~hmac=e02b2763d5136ab8cd704858599f815915b6e25f98a0153a7bc7ccac57c63c6c&w=740" alt="">
                <img class="card-img-top" src="https://img.freepik.com/free-photo/family-photobook-about-easter-easter-card-with-love_493343-29937.jpg?t=st=1717861345~exp=1717864945~hmac=83b5ca59918e83d851a02d9a81fd6670e7556aee16d9ba91120a565b7d2bad27&w=740" alt="">
                <img class="card-img-top" src="https://img.freepik.com/free-photo/photo-book-with-christmas-photos_493343-29924.jpg?t=st=1717861359~exp=1717864959~hmac=c5fed1b7ba263916eb0d10c06926b30205df609f4d9094fbc37acb391545c87e&w=740" alt="">
                <img class="card-img-top" src="https://img.freepik.com/free-photo/photo-book-with-christmas-photos_493343-29915.jpg?t=st=1717861378~exp=1717864978~hmac=fd2c8a7995720003d8d7af2c4ac50de393db51be43e404567e5e215d4b74a7f5&w=740" alt="">
                <img class="card-img-top" src="https://img.freepik.com/free-photo/handmade-folder-with-herbs-paper_23-2147709597.jpg?t=st=1717861422~exp=1717865022~hmac=5c0844de6a62dc8a3d0d9111864375beed2d3f4783469a36655b8f7046e499fb&w=740" alt="">
 
              </div>
              </div><hr>
    
              <div  id="section6" class="container-fluid bg-light text-black" id="sections" style="padding:20px 20px;">
                <center><h1>POSTERS</h1></center> 
                <img class="card-img-top" src="https://img.freepik.com/free-vector/wild-nature-banner-template_23-2148782988.jpg?t=st=1717861503~exp=1717865103~hmac=b63ebca41c2395ec908016fbba91f4f89fe1ba8527d25c72679ccbba665ba84f&w=740" alt=""><br><br>
                <img class="card-img-top" src="https://img.freepik.com/free-psd/flat-design-travel-adventure-facebook-template_23-2150676048.jpg?t=st=1717861536~exp=1717865136~hmac=bfe1560d77dc49cf8174b729dfb9398a904b6ba9c41d0e3acdb6c131d1c3911c&w=740" alt=""><br><br>
                <img class="card-img-top" src="https://img.freepik.com/free-psd/camping-place-banner-template_23-2148688072.jpg?t=st=1717861580~exp=1717865180~hmac=45460df0da68e3bbf59347f906341ca9724bb9394c0a467bc385db5eee236901&w=740" alt="">
              

              </div>
              <hr>
    
              <div  id="section7" class="container-fluid bg-light text-black" id="sections" style="padding:20px 20px;">
                <center><h1>GREETING-CARDS</h1>
                  <p>Be sincere. A card is a great place to tell someone how much you really care about them and how much they mean to you. Thank the person - for the times they were there for you, helping you out, something nice they did for you or the unique qualities they bring to your life. Share a funny memory or story with them.</p>      

                </center> <div class="images">
                <img class="card-img-top" src="https://img.freepik.com/free-vector/floral-wedding-card-template_23-2148927070.jpg?t=st=1717861833~exp=1717865433~hmac=a84ab32b75fc45066052ee629b59ee8ca2370b1f9c94ddea8d91c45a59707d44&w=740" alt="">
                <img class="card-img-top" src="https://img.freepik.com/free-vector/floral-engagement-invitation-template_52683-44893.jpg?t=st=1717861868~exp=1717865468~hmac=123cddebcef48a650d4581e2b81f778f111e5f3c34a05d58e3784bde9136dd27&w=740" alt="">
                <img class="card-img-top" src="https://img.freepik.com/free-vector/indian-wedding-invitation_52683-44378.jpg?t=st=1717861881~exp=1717865481~hmac=f6fe089ba133e01ba8c0c7a4dbc82bf047652353d5f876ce50f9be14420b5efc&w=740" alt="">
                <img class="card-img-top" src="https://img.freepik.com/premium-psd/wedding-invitation-greeting-cards-elegant-vintage-style_1169175-5.jpg?w=740" alt="">
                <img class="card-img-top" src="https://img.freepik.com/free-vector/elegant-minimalistic-floral-wedding-invitation-template_23-2148404664.jpg?t=st=1717861934~exp=1717865534~hmac=a03d28d0552e61d606751e3ad6f89be919d9fc6f4248cd0fed05d436fcf54326&w=740" alt="">
                <img class="card-img-top" src="https://img.freepik.com/free-vector/hand-drawn-floral-wedding-invitation-template_23-2149018411.jpg?t=st=1717861951~exp=1717865551~hmac=d09c8ab9af1dd118af018490f710ad1e49ea2570ce5a1f84c738854d968c3fc4&w=740" alt="">
                <img class="card-img-top" src="https://img.freepik.com/free-vector/elegant-wedding-card_23-2147670629.jpg?t=st=1717861966~exp=1717865566~hmac=c9f75fdd1780d3b3122d00722abe6cc62e7d964285ed6239eefc8a448e6b223c&w=740" alt="">
                <img class="card-img-top" src="https://img.freepik.com/free-vector/realistic-raksha-bandhan-greeting-card_23-2148571546.jpg?t=st=1717861991~exp=1717865591~hmac=162321cf8e7ffd3e39bed134feeb76515e4bb41b84199d8c41daeb28d99b8f78&w=740" alt="">
</div>
              </div>
    <hr>
    
              <div  id="section8" class="container-fluid bg-light text-black" id="sections" style="padding:20px 20px;">
                <center><h1>HALL-DECORTION</h1></center> 
                <img class="card-img-top" src="https://img.freepik.com/free-photo/photorealistic-wedding-venue-with-intricate-decor-ornaments_23-2151481542.jpg?t=st=1717862133~exp=1717865733~hmac=ea85f14e0a96a43bec1b5ac64df10cb739f0688d4ec15453bdfa99a91c31e3ec&w=996" alt=""><br><br>
                <img class="card-img-top" src="https://img.freepik.com/free-photo/decorated-wedding-ceremony-venue-white-purple_8353-10187.jpg?t=st=1717862165~exp=1717865765~hmac=9153def991d098eb89f1bc8c1b5bcfe86da1183ecca177793b01472811a130e9&w=996" alt=""><br><br>
                <img class="card-img-top" src="https://img.freepik.com/free-photo/shot-bride-s-groom-s-table-wedding-reception_181624-24640.jpg?t=st=1717862187~exp=1717865787~hmac=65369794fad7cc7353618e2615869ac3045e7ed7e03baf38729c0a4d2213449a&w=996" alt=""><br><br>
                

              </div>

    
             
            
 

    
</body></html>
<script>

  var top=document.querySelector(".top")
function topbar(){

  window.scrollTo(0,0);
}

</script>