<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SM EVENTER Events</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">


<link rel="stylesheet" href="/styles/events.css">
<%- include('../views/partials/mainnav.ejs') %>
<%- include('../views/partials/mainheader.ejs') %>
<body>
    <br><br>

<div class="events">

    <div class="card" style="width:500px">
        <img class="card-img-top" src="https://img.freepik.com/free-photo/couple-honeymoon-venice_1303-10412.jpg?t=st=1717787002~exp=1717790602~hmac=ca46af2b136a70c7eec28d2f2bde771c106a5835e6b85aa62c0a5ed1e1a682ca&w=1060" alt="">
        <div  class="card-img-overlay">
          <h2 class="card-title">PRE-WEDDING-SHOTS</h2>
         
          <a href="#" class="btn btn-success"><h1><i class="bi bi-currency-rupee"></i>4000</h1></a>
        </div>
      </div>


      <div class="card" style="width:500px">
        <img class="card-img-top" src="https://img.freepik.com/free-photo/beautiful-student-couple-ready-from-prom_23-2149134334.jpg?t=st=1717787807~exp=1717791407~hmac=9d3e11c3391518352d5bc1315499c0833758893677ac38ed233fd5b2deb62d4e&w=996" alt="">
        <div  class="card-img-overlay">
          <h2 class="card-title">WEDDING-SHOTS</h2>
         
          <a href="#" class="btn btn-success"><h1><i class="bi bi-currency-rupee"></i>12000</h1></a>
        </div>
      </div>


      <div class="card" style="width:500px">
        <img class="card-img-top" src="https://img.freepik.com/free-vector/watercolor-boho-wedding-youtube-thumbnail_23-2149028449.jpg?t=st=1717788447~exp=1717792047~hmac=97e7165de07dd9045737c3cdcf8c24ea097d50e20410e81f534ceede092ac84e&w=996" alt=""><br>
        <div  class="card-img-overlay">
          <h2 class="card-title">BANNERS</h2>
         
          <a href="#" class="btn btn-success"><h1><i class="bi bi-currency-rupee"></i>2000</h1></a>
        </div>
      </div>


      <div class="card" style="width:500px">
        <img class="card-img-top" src="https://img.freepik.com/free-photo/entertaining-female-dj-with-hand-raised_23-2148325425.jpg?t=st=1717860995~exp=1717864595~hmac=41f814167b8c2d3eb94feeb74850ac9aa0436b25455ca33537ebe1637638e0da&w=740" alt="">
        <div  class="card-img-overlay">
          <h2 class="card-title">DJ-BASS-PARTY</h2>
         
          <a href="#" class="btn btn-success"><h1><i class="bi bi-currency-rupee"></i>10000</h1></a>
        </div>
      </div>


      <div class="card" style="width:500px">
        <img class="card-img-top" src="https://img.freepik.com/free-photo/photo-book-with-christmas-photos_493343-29924.jpg?t=st=1717861359~exp=1717864959~hmac=c5fed1b7ba263916eb0d10c06926b30205df609f4d9094fbc37acb391545c87e&w=740" alt="">
        <div  class="card-img-overlay">
          <h2 class="card-title">ALBUM-BOOK</h2>
         
          <a href="#" class="btn btn-success"><h1><i class="bi bi-currency-rupee"></i>13000</h1></a>
        </div>
      </div>


      <div class="card" style="width:500px">
        <img class="card-img-top" src="https://img.freepik.com/free-psd/flat-design-travel-adventure-facebook-template_23-2150676048.jpg?t=st=1717861536~exp=1717865136~hmac=bfe1560d77dc49cf8174b729dfb9398a904b6ba9c41d0e3acdb6c131d1c3911c&w=740" alt=""><br><br>
        <div  class="card-img-overlay">
          <h2 class="card-title">POSTERS-100pcs</h2>
         
          <a href="#" class="btn btn-success"><h1><i class="bi bi-currency-rupee"></i>1300</h1></a>
        </div>
      </div>


      <div class="card" style="width:500px">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnVlFSnyZQkWDVnyk1TV1b0hqa_pZk7-pL2g&s" alt="">
        <div  class="card-img-overlay">
          <h2 class="card-title">KERALA-CHANDAI</h2>
         
          <a href="#" class="btn btn-success"><h1><i class="bi bi-currency-rupee"></i>25000</h1></a>
        </div>
      </div>

     


      <div class="card" style="width:500px">
        <img class="card-img-top" src="https://img.freepik.com/free-photo/decorated-wedding-ceremony-venue-white-purple_8353-10187.jpg?t=st=1717862165~exp=1717865765~hmac=9153def991d098eb89f1bc8c1b5bcfe86da1183ecca177793b01472811a130e9&w=996" alt=""><br><br>
        <div  class="card-img-overlay">
          <h2 class="card-title">HALL-DECORATION</h2>
         
          <a href="#" class="btn btn-success"><h1><i class="bi bi-currency-rupee"></i>25000</h1></a>
        </div>
      </div>


      <div class="card" style="width:500px">
        <img class="card-img-top" src="https://img.freepik.com/free-photo/side-view-photographer-married-couple_23-2150264490.jpg?t=st=1717952406~exp=1717956006~hmac=172fd52694d5dfd923776d0d8b6129b973d20312fe641bacb9f906cb20b13b0e&w=1380" alt="">
        <div  class="card-img-overlay">
          <h2 class="card-title">VIDEO-SHOOTS</h2>
         
          <a href="#" class="btn btn-success"><h1><i class="bi bi-currency-rupee"></i>4000</h1></a>
        </div>
      </div>

      
      <div class="card" style="width:500px">
        <img class="card-img-top" src="https://img.freepik.com/free-photo/high-angle-delicious-indian-dessert-plate_23-2149312393.jpg?t=st=1717953981~exp=1717957581~hmac=94e05b3d9b670fc43efef80bcc637c5e18ebbc80ab38a0e478f47f31b5d7dbde&w=740" alt="">
        <div  class="card-img-overlay">
          <h2 class="card-title">BUFFEA SNACKS</h2>
         
          <a href="#" class="btn btn-success"><h1><i class="bi bi-currency-rupee"></i>15000</h1></a>
        </div>
      </div>


      <div class="card" style="width:500px">
        <img class="card-img-top" src="https://img.freepik.com/premium-psd/wedding-invitation-greeting-cards-elegant-vintage-style_1169175-5.jpg?w=740" alt="">
        <div  class="card-img-overlay">
          <h2 class="card-title">INVITATION-CARDS-1000pcs</h2>
         
          <a href="#" class="btn btn-success"><h1><i class="bi bi-currency-rupee"></i>65000</h1></a>
        </div>
      </div>
     

      
</div>
  
<br><br>

</body>

<%- include('../views/partials/footer.ejs') %>
    

</html>
<style>
    .events{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(219, 223, 15, 0.219);
    gap: 30px;
    }
    
    .events h5 i,span{
    color: green;
    
    }
    
    .events h2{
    
    font-weight: 600;
    font-family: cursive;
    color: rgb(255, 255, 255);
    }
    
    
    .events .card{
    
        box-shadow: 0 5px 10px rgb(104, 104, 88);
    }
    
    
    </style>