<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SM EVENTER Packages</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">


<link rel="stylesheet" href="/styles/main.css">
<%- include('../views/partials/mainnav.ejs') %>
<%- include('../views/partials/mainheader.ejs') %>
<body>
<br><br>
  <main class="events">
    <div class="card" style="width:400px">
        <img class="card-img-top" src="https://img.freepik.com/free-photo/decorated-banquet-hall-with-served-round-table-with-hydrangea-centerpiece-chiavari-chairs_8353-10059.jpg?t=st=1717872070~exp=1717875670~hmac=b05703a7a6f895ca1246851e9f3e01e022ae5473a9f244f212c1abc21bf422e2&w=740" alt="Card image">
        <div class="card-body">
          <h2 class="card-title">PACKAGE 1</h2>
          <h5 class="card-text">PRE WED SHOTS- <span><i class="bi bi-currency-rupee"></i>4000</span></h5>
          <h5 class="card-text"> WED SHOTS- <span><i class="bi bi-currency-rupee"></i>12000</span></h5>
          <h5 class="card-text">ALBUM BOOK- <span><i class="bi bi-currency-rupee"></i>13000</span></h5>
          <h5 class="card-text"> FLOWER DECORATION- <span><i class="bi bi-currency-rupee"></i>8000</span></h5>

          <h5 class="card-text">HALL DECORATIOM- <span><i class="bi bi-currency-rupee"></i>25000</span></h5>
          <h5 class="card-text">VIDEO SHOT- <span><i class="bi bi-currency-rupee"></i>5000</span></h5>
          <h5 class="card-text">BAFEA CANTEEN- <span><i class="bi bi-currency-rupee"></i>15000</span></h5>
          
          <a href="/events" class="btn btn-warning"><h2><i class="bi bi-cash-coin"></i></h2><h1>79,499</h1></a>
        </div>
      </div>

      <div class="card" style="width:400px">
        <img class="card-img-top" src="https://img.freepik.com/free-photo/beautiful-shot-live-concert-performance-with-yellow-light-show-big-crowd-cheering_181624-55905.jpg?t=st=1717873142~exp=1717876742~hmac=b049898573f2c43d092f75968e2bdf4caa34a58d296d4d110230d13ef6caeabb&w=740" alt="Card image">
        <div class="card-body">
          <h2 class="card-title">PACKAGE 2</h2>
          
          <h5 class="card-text">PRE WED SHOTS- <span><i class="bi bi-currency-rupee"></i>4000</span></h5>
          <h5 class="card-text"> WED SHOTS- <span><i class="bi bi-currency-rupee"></i>12000</span></h5>
          <h5 class="card-text">ALBUM BOOK- <span><i class="bi bi-currency-rupee"></i>13000</span></h5>
          <h5 class="card-text"> FLOWER DECORATION- <span><i class="bi bi-currency-rupee"></i>8000</span></h5>
          <h5 class="card-text"> BAND SHOW(KERALA)- <span><i class="bi bi-currency-rupee"></i>25000</span></h5>

          <h5 class="card-text">HALL DECORATIOM- <span><i class="bi bi-currency-rupee"></i>25000</span></h5>
          <h5 class="card-text">VIDEO SHOT- <span><i class="bi bi-currency-rupee"></i>5000</span></h5>
          <a href="/events" class="btn btn-warning"><h2><i class="bi bi-cash-coin"></i></h2><h1>95,000</h1></a>
        </div>
      </div>

      <div class="card" style="width:400px">
        <img class="card-img-top" src="https://img.freepik.com/free-photo/people-having-fun-wedding-hall_1303-19593.jpg?t=st=1717873449~exp=1717877049~hmac=e4a0bfe7d4ebc0df4150c7e4adc425e6b66227afbe517c8cccbc04562842bb87&w=740" alt="Card image">
        <div class="card-body">
          <h2 class="card-title">PACKAGE 3</h2> 
          <h5 class="card-text">PRE WED SHOTS- <span><i class="bi bi-currency-rupee"></i>4000</span></h5>
          <h5 class="card-text"> BANNER SETUP 1PCS- <span><i class="bi bi-currency-rupee"></i>2000</span></h5>

          <h5 class="card-text"> WED SHOTS- <span><i class="bi bi-currency-rupee"></i>12000</span></h5>
          <h5 class="card-text">ALBUM BOOK- <span><i class="bi bi-currency-rupee"></i>13000</span></h5>
          <h5 class="card-text">HALL DECORATIOM- <span><i class="bi bi-currency-rupee"></i>25000</span></h5>
          <h5 class="card-text">VIDEO SHOT- <span><i class="bi bi-currency-rupee"></i>5000</span></h5>
          <h5 class="card-text">BAFEA CANTEEN- <span><i class="bi bi-currency-rupee"></i>15000</span></h5>
          <h5 class="card-text">MAKE UP KITS- <span><i class="bi bi-currency-rupee"></i>3000</span></h5>

          <a href="/events" class="btn btn-warning"><h2><i class="bi bi-cash-coin"></i></h2><h1>74,899</h1></a>
        </div>
      </div>

      <div class="card" style="width:400px">
        <img class="card-img-top" src="https://img.freepik.com/free-photo/friends-club-2018-celebrations_23-2147717244.jpg?t=st=1717873211~exp=1717876811~hmac=17627b7e05598cf41d278c77d7c7eb56af05cc13cf79da1c1448799d1e48db92&w=740" alt="Card image">
        <div class="card-body">
          <h2 class="card-title">PACKAGE 4</h2>
          <h5 class="card-text">PRE WED SHOTS- <span><i class="bi bi-currency-rupee"></i>4000</span></h5>
          <h5 class="card-text"> WED SHOTS- <span><i class="bi bi-currency-rupee"></i>12000</span></h5>

          <h5 class="card-text"> DJ BOSS PARTY- <span><i class="bi bi-currency-rupee"></i>10000</span></h5>
          <h5 class="card-text">ALBUM BOOK- <span><i class="bi bi-currency-rupee"></i>13000</span></h5>
          <h5 class="card-text">HALL DECORATIOM- <span><i class="bi bi-currency-rupee"></i>25000</span></h5>
          <h5 class="card-text">VIDEO SHOT- <span><i class="bi bi-currency-rupee"></i>5000</span></h5>
          <h5 class="card-text">BAFEA CANTEEN- <span><i class="bi bi-currency-rupee"></i>15000</span></h5>
          <a href="/events" class="btn btn-warning"><h2><i class="bi bi-cash-coin"></i></h2><h1>78,499</h1></a>
        </div>
      </div>

      <div class="card" style="width:400px">
        <img class="card-img-top" src="https://img.freepik.com/free-photo/enjoying-people-celebrating-home_23-2147651790.jpg?t=st=1717873228~exp=1717876828~hmac=660648eff2d843db18833780a1db6f8ec81375f6a68acfcedf407dbcdd6405c0&w=740" alt="Card image">
        <div class="card-body">
          <h2 class="card-title">PACKAGE 5</h2>
          <h5 class="card-text">PRE WED SHOTS- <span><i class="bi bi-currency-rupee"></i>4000</span></h5>
          <h5 class="card-text"> WED SHOTS- <span><i class="bi bi-currency-rupee"></i>12000</span></h5>
          <h5 class="card-text">ALBUM BOOK- <span><i class="bi bi-currency-rupee"></i>13000</span></h5>
          <h5 class="card-text">HALL DECORATIOM- <span><i class="bi bi-currency-rupee"></i>25000</span></h5>
          <h5 class="card-text">VIDEO SHOT- <span><i class="bi bi-currency-rupee"></i>5000</span></h5>
          <h5 class="card-text"> INVITATION CARDS 1K- <span><i class="bi bi-currency-rupee"></i>65000</span></h5>

          <h5 class="card-text">BAFEA CANTEEN- <span><i class="bi bi-currency-rupee"></i>15000</span></h5>
          <a href="/events" class="btn btn-warning"><h2><i class="bi bi-cash-coin"></i></h2><h1>1,09,999</h1></a>
        </div>
      </div>
      
  </main>

</body>
<br><br>

<%- include('../views/partials/footer.ejs') %>
    

</html>
<style>
.events{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
background-color: rgba(219, 223, 15, 0.219);
gap: 30px;
}

.events h5 i,span{
color: green;

}

.events h2{

font-weight: 600;
font-family: cursive;
color: gray;
}


.events .card{

    box-shadow: 0 5px 10px rgb(104, 104, 88);
}


</style>